.nav {
  width: 320px;
  position: fixed;
  left: 0;
  top: 156px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 21px;
  background-color: #748ffc;
  border-radius: 0 8px 8px 0;
  > a {
    margin-top: 16px;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: start;
    width: 288px;
    height: 60px;
    border-radius: 8px;
    padding: 16px;
    > svg {
      margin-right: 16px;
      fill: #fff;
    }
    &:focus,
    &:hover {
      background-color: var(--gray-bg);
      color: var(--primary);
      > svg {
        fill: var(--primary);
      }
    }
  }
  a:last-child {
    margin-top: auto;
    margin-bottom: 32px;
  }
}
